$path : '../../assets/img';
.check_group {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/* checkbox/radio */
.radio, .checkbox, .radioChk {
  position: relative;
  // display: inline-flex;
  // align-items: center;
  font-size: 14px; line-height: 22px; min-height: 20px;
  label {
    // display: inline-flex;
    // align-items: center;
    padding-left:20px;
    &::before {
      background-repeat: no-repeat; 
      background-position: center center; 
      background-size: 20px 20px;
      width: 20px; height: 20px; left: 0; top: 1px;
    }
    > span {padding-left:10px;}
  }
  input[type=radio], 
  input[type=checkbox] {
    cursor: pointer; 
    position: absolute; 
    opacity: 0 !important; 
    outline:none;
    width: 20px; height: 20px; left: 0; top: 1px;
  }
}
.radio label, 
.toggle label {
  position: relative; 
  // display: block;
}
.checkbox label, 
.radioChk label {
  position: relative; 
  // display: flex;
}
.radio label::before, 
.radio label::after, 
.checkbox label::before, 
.radioChk label::before { 
  content: ''; 
  display: block;
  position: absolute;
}

.radioChk input { display: none; }
.checkbox input:checked+label::before {background-image:url($path+'/icon/ico_check_checked.png');}
.checkbox input:disabled+label::before {background-image:url($path+'/icon/ico_check_disable.png');}
.checkbox input:disabled:checked+label::before {background-image:url($path+'/icon/ico_check_checked_disable.png');}
.checkbox label::before {background-image:url($path+'/icon/ico_check.png');}




.tab_menu7 { display: inline-flex; border: 1px solid #ccc; border-radius: 3px; }
.tab_menu7 .tab_btn { position: relative; width: 100px; height: 48px; color: #ccc}
.tab_menu7 .tab_btn.is_active { color: #000; font-weight: 700;}
.tab_menu7 .tab_btn + .tab_btn::before { content: ''; position: absolute;  left: 0; display: block; width: 1px; height: calc(100% - 30px); background-color: #ccc;}
.search_brand_wrap .tab_menu7 .tab_btn {width: 54px; height:36px; }

.tab_wrap1 {margin-top:60px; display:flex; justify-content: center;}
.tab_wrap1 .tab_menu {display:flex; flex-wrap: wrap;}
.tab_wrap1 .tab_menu button {width:38px; height:38px; margin:0 10px 2px 0; border:1px solid #ccc; border-radius:3px; background-color: #fff; text-align: center;}
.tab_wrap1 .tab_menu button:last-child {width:48px; margin-right:0;}
.tab_wrap1 .tab_menu button:focus,
.tab_wrap1 .tab_menu button:active,
.tab_wrap1 .tab_menu button.is_active {background-color:#000; border-color:#000; color:#fff;}
.tab_wrap1 .tab_menu button:disabled {background-color:#ccc; border-color:#ccc; color:#ccc;}
.tab_wrap1 .tab_menu .all{font-size:0}
.tab_wrap1 .tab_menu .all + div {font-size:0}
.tab_wrap1 .tab_menu .all button {width:70px; padding:0; margin:0 30px 10px 0; color: #ccc}
.tab_wrap1 .tab_menu .all button:focus,
.tab_wrap1 .tab_menu .all button:active,
.tab_wrap1 .tab_menu .all button.is_active {color:#000; background-color: #fff; border-color: #ccc;} 
.search_brand_wrap.tab_wrap1{margin-top:0}
.search_brand_wrap.tab_wrap1 .tab_menu div {font-size:0; margin-left:10px}
.search_brand_wrap.tab_wrap1 button {margin-right:2px}


/*


/* 자동완성 검색 */
// .search_tab_wrap { margin-bottom: 30px; width:100%}
// .search_tab_wrap::after {content:""; display:block; clear: both;}
// .search_tab_wrap.direction_c {  flex-direction: column; justify-content: flex-start;}

// .search_brand_wrap{ display:flex; justify-content: flex-start; align-items: flex-start; }
// .search_result_wrap{ display:block; overflow: hidden; width:100%}
// .search_result_wrap .search_keyword_wrap{ width:220px;  }
// .search_result_wrap .search_result_brand_wrap .no_data{ width:100%}
// .search_result_wrap .search_result_brand_wrap .auto_complete_wrap{ height:210px; overflow:hidden}
// .search_result_wrap .search_result_brand_wrap .section_gap1{ padding-bottom:20px; display:flex; justify-content:flex-start; align-items: flex-start; }
// .search_result_wrap .search_result_brand_wrap .section_gap1:nth-last-child(1){ padding-bottom:0}
// .search_result_wrap .search_result_brand_wrap .section_gap1 .tit_brand{ padding:0; display:inline-flex; font-size:16px; font-weight:700; width:40px }
// .search_result_wrap .search_result_brand_wrap .section_gap1 ul{ display:block; overflow: hidden; max-height:auto; width:calc(100% - 40px);  min-height:auto; overflow:visible}
// .search_result_wrap .search_result_brand_wrap .section_gap1 ul li {width:280px; float:left; padding-bottom:20px; }
// .product_list_wrap .search_result_wrap .search_result_brand_wrap .section_gap1 ul li {width:310px;  }
// .search_result_wrap .search_result_brand_wrap .auto_complete_wrap .checkbox .tit { display:flex; }
// .search_result_wrap .search_result_brand_wrap .auto_complete_wrap .checkbox .tit > span{ display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; word-break: break-all; }
// .search_result_wrap .search_result_brand_wrap .auto_complete_wrap .checkbox .tit em.count{ display: -webkit-box; flex-shrink: 0; margin-left:3px; }
// .search_result_wrap .search_result_brand_wrap .auto_complete_wrap .tab_lang_wrap{ width:100%; height:210px; overflow:auto}
// .search_brand_wrap .search_brand_lang_wrap{ display:none }
// .search_brand_wrap .search_brand_lang_wrap.is_active{ display:block }


// .search_result_wrap .search_txt_list.type3.scroll { float:left; width:230px; padding-right:10px; max-height:210px}
// .search_result_wrap .search_txt_list.type3.scroll .inner { padding: 0; overflow: auto; }
// .search_result_wrap .search_txt_list.type3 .search_txt_item { padding-left: 0; padding-right: 0; }
// .search_result_wrap .search_txt_list.type3 .search_txt_item + .search_txt_item { margin-top: 15px;}
// .search_result_wrap .no_data {  width:inherit; height:210px; align-items: center; display:flex; justify-content: center; }



.search_brand_wrap{ display:flex; justify-content: flex-start; align-items: flex-start; }

.search_keyword_wrap{ width:220px;  }
 .no_data{ width:100%}
 .tab_scrorll_wrap { height:210px; overflow:auto}
 .section_gap1{ padding-bottom:20px; display:flex; justify-content:flex-start; align-items: flex-start; }
 .section_gap1:nth-last-child(1){ padding-bottom:0}
 .section_gap1 .tit_brand{ padding:0; display:inline-flex; font-size:16px; font-weight:700; width:40px }
 .section_gap1 ul{ display:block; overflow: hidden; max-height:auto; width:calc(100% - 40px);  min-height:auto; overflow:visible}
 .section_gap1 ul li {width:280px; float:left; padding-bottom:20px; }
// .product_list_wrap  .section_gap1 ul li {width:310px;  }
 .auto_complete_wrap .checkbox .tit { display:flex; }
 .auto_complete_wrap .checkbox .tit > span{ display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1; word-break: break-all; }
 .auto_complete_wrap .checkbox .tit em.count{ display: -webkit-box; flex-shrink: 0; margin-left:3px; }
 .auto_complete_wrap .tab_lang_wrap{ width:100%; height:210px; overflow:auto}
.search_brand_wrap .search_brand_lang_wrap{ display:none }
.search_brand_wrap .search_brand_lang_wrap.is_active{ display:block }


.search_txt_list.type3.scroll { float:left; width:230px; padding-right:10px; max-height:210px}
.search_txt_list.type3.scroll .inner { padding: 0; overflow: auto; }
.search_txt_list.type3 .search_txt_item { padding-left: 0; padding-right: 0; }
.search_txt_list.type3 .search_txt_item + .search_txt_item { margin-top: 15px;}
.no_data {  width:inherit; height:210px; align-items: center; display:flex; justify-content: center; }




$btn: #000;
$btn-focus: #000;
$btn-active: #fff;
$btn-disabled: #b1b1b1;

$btn-bg : #fff;
$btn-bg-active : #000;
$btn-bg-disabled : #ccc;

$btn-line: #ccc;
$btn-line-active: #000;



.scroll_menu .btn {
  height: 30px;
  padding: 0 12px;
  margin: 0 5px 0 0;
  border-radius: 16px;
  border: 1px solid $btn-line;
  background-color: $btn-bg;
  text-align: center;
  color: $btn;
  &:focus {
      color: $btn-focus;
  }
  &:disabled,
  &:disabled:focus,
  &:disabled:active,
  &:disabled.is_active {
      color: $btn-disabled;
      background-color: $btn-bg-disabled;
      border-color: $btn-line;
  }
  &.is_active {
      background-color: $btn-bg-active;
      color: $btn-active;
      border-color: $btn-line-active
  }
}