

/**  common  **/
.modal_wrap { 
  display: flex; position: fixed; top: 0; left: 0; width:100%; height:100%; z-index: 1000; overflow: hidden; visibility: hidden;

  .modal { position: relative; display: flex; flex-direction: column; width: 100%; max-height: 90%; margin: auto; background: #fff; border-radius: 10px; overflow: hidden; transition: all 0.3s ease; opacity: 0; }
 
  .modal_header { position: relative; display: flex; align-items: center; justify-content: space-between; flex-shrink: 0; height: 50px; padding: 0 20px; }
  .modal_close { margin-left: auto; }
 
  .modal_content { flex: 1; padding: 20px 20px 30px 20px; overflow: auto; }
 
  .modal_footer { 
    .btn_set { gap: 0; }
  }

  //팝업 사이즈
  &.alert {
    .modal { width: 300px;}
    .modal_content { margin-top: -50px; text-align: center;}
  } 
  &.small .modal { width: 500px;}
  &.medium .modal { width: 600px;}
  &.full .modal { width: 100%; height: 100%; max-height: 100%; border-radius: 0;}
  
  //팝업 타입
  &.effect_down { //위 -> 아래로 열림
    top: -100%;
    .modal { transform: translateY(-50%); }
  }
  &.effect_up { //아래 -> 위로 열림
    bottom: -100%;
    .modal { transform: translateY(50%); }
  }
  &.type_bottom { //바텀 팝업
    .modal { position: fixed; bottom: 0;  margin: 0; border-radius: 0;  transition: transform 0.5s ease; transform: translateY(100%); }
    &.type_bar { //터치 드래그 팝업
      .modal_header { height: 30px; }
      .modal_content { flex-shrink: 0; overflow: hidden; }
      .modal_close { 
        position: absolute; top: 0; left: 0;  width: 100%; height: 100%;
        &::after { content: ''; position: absolute; top: 16px; left: 50%; width: 48px; height: 3px; margin-top: -1px; margin-left: -24px; background: #eee;}
      }
    }
  }
  .dimmer { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(#000, .4); transition: 0.5s ease; opacity: 0; }
  
  //팝업 열린 경우
  &.is_show {  
    visibility: visible;
    .modal {  transform: translateY(0px); opacity: 1; }
    .dimmer { opacity: 1; left: 0;}
    
    //팝업 타입
    &.effect_down { 
      top: 0;
      .modal { transform: translateY(0%);  }
    }
    &.effect_up {
      bottom: 0; 
      .modal { transform: translateY(0%); }
    }
    &.type_bottom {
      .modal { transform: translateY(0px); }
    }
  }
  
} 



/* toast */
.toast_wrap { 
  position: fixed; 
  left: 0; bottom: 40px; 
  width: 100%;
  opacity: 0; 
  transform: translateY(20%); 
  transition: all 0.25s ease; 
  visibility: hidden;
  z-index: 1400; 
  &.is_show { opacity: 1; transform: translateY(0%); visibility: visible; } 
  .inner { display: flex; align-items: center; justify-content: center; height: 50px; margin: 0 10px; padding: 10px;  border-radius: 2px; background-color: rgba(#000, 0.8); }
  .toast_txt { font-size:14px; color: #fff; text-align: center;} 
} 


