$path : '../../assets/img';

.tit {
  &_lv1 {}
  &_lv2 { font-size: 28px; }
  &_lv3 {}
}

.tit_wrap {
  display: flex;
  position: relative;
  &.between_center { 
    justify-content: space-between; 
    align-items: center;
  } 
}

.pagination {
  display: inline-flex; 
  height: 32px; 
  border: 1px solid #ccc; 
  border-radius: 2px;
  > a {
    position: static; 
    text-indent: -9999px; 
    margin: 0; 
    min-width: 30px; 
    width: 30px; 
    height: 30px;
    color: #000;  
    &:after { font-size:13px; text-indent: 0; margin: 0}
    + a { border-left: 1px solid #ccc; }
  }
}

/**  swiper - 공통  **/
.swiper { 
  width: 100%;
  .swiper-pagination { 
    top: unset;
    bottom: 0;
    height: 2px; 
  }
  .swiper-pagination-progressbar-fill {
    background: #000; 
    height: 2px; 
  }
  // 좌우 버튼 : hover 시 보임
  .swiper_arrow_wrap { opacity: 0; transition: 0.4s ease; }
  &:hover .swiper_arrow_wrap { 
    opacity: 1;
  }
  .swiper-button-next, 
  .swiper-button-prev { 
    width: 20px; 
    height: 20px; 
    margin-top: -10px;
    &.swiper-button-disabled {opacity: 0 }
    &:after { 
      display: inline-flex; 
      background: rgba(#000, 0.5) url($path+'/ico_arrow_right_20.png') no-repeat center; 
      font-size: 0; 
      width: 20px; 
      height: 30px; 
      opacity: 1
    }
  }
  .swiper-button-next{ right: 0 } 
  .swiper-button-prev{ left: 0; 
    &:after{
      transform: rotate(-180deg);
    }
  }
}

/**  swiper - 상품목록  **/
.swiper {
  &.swiper_shadow {
    > .swiper-wrapper > .swiper-slide::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9) 74%);
      opacity: 0.3;
      z-index: 5;
    }
    .swiper_inner { 
      position: absolute; 
      bottom: 20px; 
      left: 0px; 
      height: 100px; 
      padding: 0 20px;
      overflow: hidden; 
      z-index: 10; 
      .swiper-slide { width: 100px; height: 100px;}
      .thumb { width: 100px; height: 100px; padding: 0; background: rgba(#fff, 0.5) }
    }
  } 
  &.swiper_progress {
    > .swiper-wrapper { margin-bottom: 30px; }
  }
  &.swiper_connect { 
    padding-top: 20px; 
    .info_area { 
      position: absolute; top: 0; left: 0;
      color: #000;
      font-size: 14px;
    }
    .thumb { padding-bottom: 110%; }
    .badge_group {
      position: absolute;
      top: 0px; 
      left: 0;
      width: 100%;
      z-index: 10;
      .badge_set { 
        display: flex; 
        flex-direction: column;
        row-gap: 4px;
        flex-wrap: wrap;
      }
      .badge_item { width: 100%;}
      .badge_big {
        position: relative;
        display: inline-flex;
        align-items: center;
        max-width: 80%;
        height: 40px;
        padding: 0 20px;
        font-size: 20px;
        color: #fff;
        background: #000;
        justify-content: flex-start;
        line-height: 40px;
        overflow: hidden;
        + .badge_big {
          display: inline-block;
          margin-top: 5px;
          white-space: nowrap;
        }
        .text_area {
          display: inline-block; 
          text-overflow: ellipsis; 
          white-space: nowrap; 
          overflow: hidden;
        }
        .count { margin-left: 10px; }
        .track {
          white-space: nowrap;
          &::before, &::after {
            content: "";
            position: absolute;
            top: 0;
            display: inline-flex;
            width: 20px;
            height: 100%;
            z-index: 3;
          }
          &::before { left: 0; background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))}
          &::after { right: 0;  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))}
          &.no_animation {
            &:before, &:after { display: none  }
            .text_flow { animation: unset }
          }
          .text_flow {
            animation: text_flow 20s linear infinite;
            align-items: center;
            display: inline-flex;
            will-change: transform;
          }
        }
      }
    }
  }
}

/** swiper 배너 **/
.swiper {
  &.swiper_banner {
    position: relative;
    .bnr_area {
      position: relative;
      width: 100%; 
      min-width: 800px;
      padding-bottom: 300px;
      img { 
        position: absolute; 
        min-width: 100%; 
        max-width: 100%; 
        min-height: 100%;
        max-height: 100%; 
        object-fit: cover;
      }
    }
    .bullet_wrap {
      position: absolute;
      bottom:40px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
    .play, .pause {
      display: inline-block;
      width: 10px;
      height: 12px;
      margin: 0 4px;
    }
    .play { background: url($path+'/ico_play.svg') no-repeat center center; }
    .pause { background: url($path+'/ico_pause.svg') no-repeat center center; }
    .swiper-pagination {
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #ccc;
        opacity: 1;
        margin: 0 4px;
        &.swiper-pagination-bullet-active {
            background: red;
        }
      }
    }
  }
}

/*animation*/
@keyframes text_flow{
  from {transform: translateX(0%);}
  to {transform: translateX(-100%);}
}
@-webkit-keyframes text_flow{
  from {transform: translateX(0%);}
  to {transform: translateX(-100%);}
}

